mixin subm(item, mod)
  li(class="nav__item" + (mod ? " nav__item--" + mod : '') + ((item.submenu) ? " nav__item--parent" : ""))
    if item.submenu
    a(class="nav__link" + (mod ? ' nav__link--' + mod : '') href=item.link || '#')= item.title

    if item.submenu
      +nav(item.submenu, 'inner')

mixin nav(tree, mod)
  ul(class="nav__list" + (mod ? ' nav__list--' + mod : ''))
    each item in tree
      if item.title
        +subm(item, mod)
