.nav {
  font-family: $second-font;
  position: relative;
  z-index: 1;
  &__list {
    @include nl();
    &--inner {
      min-width: 100%;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: .3s;
      right: 0;
      top: calc(100% - 3px);
      border-top: 3px solid $red;
      text-align: left;
    }
  }

  &__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;

    &--inner {
      margin-left: 0;
      display: block;
      width: 100%;
      border-bottom: 1px solid $white;
      z-index: 1;

    }

    &:hover {
      .nav__list--inner {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__link {
    display: block;
    text-transform: uppercase;
    color: $dark-gray;
    font-size: 27px;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
    border-bottom: 3px solid transparent;


    &.active {
      border-bottom-color: $red;
    }

    &--inner {

      min-width: 110px;
      margin-left: 0;
      background: #e6e6e6;
      font-family: $main-font;
      font-size: 15px;
      padding: 10px 15px;
      box-sizing: border-box;
      text-transform: capitalize;
      transition: .2s;

      &:hover {
        background: darken(#e6e6e6, 10%);
      }
    }
  }
}
