doctype html
<!--[if lte IE 8]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if lte IE 9]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if (gt IE 9)]><html class="no-js" lang="en"> <![endif]-->
html(class="no-js", lang="en")

  include ../components/head/head.pug
  include ../components/footer/footer.pug
  include ../components/header/header.pug
  include ../components/bar/bar.pug
  include ../components/section-title/section-title.pug
  include ../components/product-check/product-check.pug
  include ../components/pre-footer/pre-footer.pug
  include ../components/help/help.pug
  include ../components/button/button.pug
  include ../components/table-price/table-price.pug
  include ../components/payment-method/payment-method.pug
  include ../components/forms/form-checkout/form-checkout.pug
  include ../components/credits/credits.pug
  include ../components/slide-arrow/slide-arrow.pug

  head
    +head(head.defaults)
  body.page
    |%=symbols=%

    section.page__wrapper
      +header()
      .container
        +bar(bar)
        section
          +section-title(checkout.big)
          .content-wrap.content-wrap--checkout
            aside.sidebar.sidebar--right(data-mh="layout")
              +slide-arrow()
              .sidebar__content
                +section-title(checkout.small)
                +product-check()
                +product-check()
                +product-check()
                +table-price(totalPriceSmall)
                +table-price(promoCode)
                +table-price(taxPrice)
                +table-price(shipPrice)
                +payment-method(paymentMethodCheck)
                +table-price(totalPrice)
                +help(help)
            .page__content(data-mh="layout")
              +form-checkout()

    .page__footer
      +pre-footer()
      +footer()

    +credits()
    include ../components/cellar/cellar.pug
