doctype html
<!--[if lte IE 8]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if lte IE 9]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if (gt IE 9)]><html class="no-js" lang="en"> <![endif]-->
html(class="no-js", lang="en")

  include ../components/head/head.pug
  include ../components/footer/footer.pug
  include ../components/header/header.pug
  include ../components/bar/bar.pug
  include ../components/home-carousel/home-carousel.pug
  include ../components/section-title/section-title.pug
  include ../components/text-with-btn/text-with-btn.pug
  include ../components/grid-nav/grid-nav.pug
  include ../components/product/product.pug
  include ../components/pre-footer/pre-footer.pug
  include ../components/credits/credits.pug

  head
    +head(head.defaults)
  body.page
    |%=symbols=%

    section.page__wrapper
      +header()
      .container
        +bar(bar)
        section.hero
          +home-carousel(homeCarousel)
        section.products
          +section-title(home)
          .products
            +product(productHome)
            +product(productHome)
        section.slider
          +home-carousel(homeCarousel, 'short')
        section.grid-nav
          +grid-nav(gridNav)
        section
          +text-with-btn()
    .page__footer
      +pre-footer()
      +footer()
    +credits()
    include ../components/cellar/cellar.pug
