doctype html
<!--[if lte IE 8]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if lte IE 9]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if (gt IE 9)]><html class="no-js" lang="en"> <![endif]-->
html(class="no-js", lang="en")

  include ../components/head/head.pug
  include ../components/footer/footer.pug
  include ../components/header/header.pug
  include ../components/section-title/section-title.pug
  include ../components/select/select.pug
  include ../components/pre-footer/pre-footer.pug
  include ../components/forms/form-register/form-register.pug
  include ../components/forms/form-login/form-login.pug
  include ../components/register-text/register-text.pug
  include ../components/credits/credits.pug

  head
    +head(head.defaults)
  body.page
    |%=symbols=%

    section.page__wrapper
      +header()
      .container
        section
          +section-title(loginRegister)
          .page__content.page__content--login
            span.page__text
              | Gentile utente, l’area Service è dedicata alle aziende che desiderano acquistare i manuali tecnici dei prodotti Antonio Carraro. Per poter accedere all’area service di questo sito è necessario effettuare il login oppure registrarsi.
            .login-wrap
              .login.login--sign-in
                +form-login()
              .login.login--register
                +register-text()
            +form-register()
    .page__footer
      +pre-footer()
      +footer()

    +credits()
    include ../components/cellar/cellar.pug
