doctype html
<!--[if lte IE 8]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if lte IE 9]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if (gt IE 9)]><html class="no-js" lang="en"> <![endif]-->
html(class="no-js", lang="en")

  include ../components/head/head.pug
  include ../components/footer/footer.pug
  include ../components/header/header.pug
  include ../components/section-title/section-title.pug
  include ../components/select/select.pug
  include ../components/button/button.pug
  include ../components/pre-footer/pre-footer.pug
  include ../components/bank-account-details/bank-account-details.pug
  include ../components/thanks/thanks.pug
  include ../components/credits/credits.pug

  head
    +head(head.defaults)
  body.page
    |%=symbols=%

    section.page__wrapper
      +header()
      .container
        section.section.section--order-completed
          +section-title(orderCompleted)
          .order-completed
            +thanks()
            .order-completed__bottom
              +bank-account-details(bankAccountDetails)
              .order-completed__btn-wrap
                +button(thanksButton)
    .page__footer
      +pre-footer()
      +footer()
    +credits()
    include ../components/cellar/cellar.pug
