doctype html
<!--[if lte IE 8]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if lte IE 9]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if (gt IE 9)]><html class="no-js" lang="en"> <![endif]-->
html(class="no-js", lang="en")

  include ../components/head/head.pug
  include ../components/footer/footer.pug
  include ../components/header/header.pug
  include ../components/section-title/section-title.pug
  include ../components/product-info/product-info.pug
  include ../components/select/select.pug
  include ../components/button/button.pug
  include ../components/size-table/size-table.pug
  include ../components/socials/socials.pug
  include ../components/pre-footer/pre-footer.pug
  include ../components/product-slider/product-slider.pug
  include ../components/popup/popup.pug
  include ../components/credits/credits.pug
  include ../components/slide-arrow/slide-arrow.pug
  include ../components/counter/counter.pug

  head
    +head(head.defaults)
  body.page
    |%=symbols=%

    section.page__wrapper
      +header()
      .container
        section.product-section
          +section-title(product.big)
          .content-wrap
            aside.sidebar.sidebar--left
              +slide-arrow()
              .sidebar__content
                +product-info(productInfo)
                +select(size)
                +select(color)
                +counter(counterBig)
                +button(addCartSidebar)
                .sidebar__section
                  +size-table(sizeTable)
                  +socials(share)
            .page__content
              .product-slider__wrap
                each item, key in color.options
                  if (key == 0)
                    +product-slider(productSliderBig, item)
                  else
                    -
                    +product-slider(productSliderBig, item,'isHidden')
              +section-title(product.small)
              +product-slider(productSliderSmall)
    .page__footer
      +pre-footer()
      +footer()
    +popup(popup)

    +credits()
    include ../components/cellar/cellar.pug
