doctype html
<!--[if lte IE 8]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if lte IE 9]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if (gt IE 9)]><html class="no-js" lang="en"> <![endif]-->
html(class="no-js", lang="en")

  include ../components/head/head.pug
  include ../components/footer/footer.pug
  include ../components/header/header.pug
  include ../components/bar/bar.pug
  include ../components/section-title/section-title.pug
  include ../components/button/button.pug
  include ../components/table-price/table-price.pug
  include ../components/promo-code/promo-code.pug
  include ../components/product-card/product-card.pug
  include ../components/pre-footer/pre-footer.pug
  include ../components/help/help.pug
  include ../components/payment-method/payment-method.pug
  include ../components/promo-sale/promo-sale.pug
  include ../components/credits/credits.pug
  include ../components/slide-arrow/slide-arrow.pug

  head
    +head(head.defaults)
  body.page
    |%=symbols=%

    section.page__wrapper
      +header('hidden-menu')
      .container
        +bar(bar)
        section.cart-section
          +section-title(cart.big)
          .content-wrap.content-wrap--cart
            aside.sidebar.sidebar--right(data-mh="layout")
              +slide-arrow()
              .sidebar__content
                +section-title(cart.small)
                +table-price(totalPriceSmall)
                +promo-code(promoCode)
                +promo-sale()
                +table-price(taxPrice)
                +table-price(shipPrice)
                +payment-method(paymentMethod)
                +table-price(totalPrice)
                .sidebar__btn-wrap
                  +button(btnContinue)
                +help(help)
                .sidebar__sections
            .page__content(data-mh="layout")
              -var n=0
              while n++< 3
                +product-card()
    .page__footer
      +pre-footer()
      +footer()

    +credits()
    include ../components/cellar/cellar.pug
