.buying-guide {
  &__section {
    margin-bottom: 20px;
  }
  &__section-title {
    color: $black;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
  }
  &__section-content {
    color: $black;
    font-size: 13px;
    font-weight: 400;
  }
}
