include ../../selectInForm/selectInForm.pug
include ../../input/input.pug
include ../../checkbox/checkbox.pug
include ../../button/button.pug
include ../../validate-error/validate-error.pug
include ../../input-file/input-file.pug
include ../../radio/radio.pug
include ../../textarea/textarea.pug

mixin form-register(data)
    form.form.form--register
      .form__title
        | Compila la form per registrarti
      .form__text
        | Gentile utente, l’area Service è dedicata alle aziende che desiderano acquistare i manuali tecnici dei prodotti Antonio Carraro. Per poter accedere all’area service di questo sito è necessario aver richiesto l’abilitazione compilando tutti i campi presenti in questa form.
      +validate-error(validateError)
      .form__request-type
        | TIPO DI RICHIESTA *
      .grid
        .col.col-4
          +selectInForm('Informazione sui pagamenti ')
        .col.col-4
        .col.col-8
          +input('text','Ragione sociale (se rappresenti una azienda)',false)
        .col.col-4
          +input('text', 'Nome', true, 'invalid')
        .col.col-4
          +input('text', 'Cognome', true)
        .col.col-4
          .grid.grid--inner
            .col.col-20
              span
                | Data di nascita
            .col.col-20
              +selectInForm('Giorno *')
            .col.col-20
              +selectInForm('Mese *')
            .col.col-20
              +selectInForm('Annodfdf df dfddffdewrewr *')
            .col.col-20
              +radio('Sesso','sex',['M','F'])
        .col.col-4
          +input('text', 'Codice fiscale', true)
        .col.col-4
          +input('password', 'Password', true)
        .col.col-4
          +input('password', 'Conferma password', true)
        .col.col-6
          +input('text', 'Regione sociale', true)
        .col.col-2
          +input('text', 'Partita IVA', true)
        .col.col-6
          +input('text', 'Indirizzo', true)
        .col.col-2
          +input('text', 'Civico', true)
        .col.col-1
          +input('text', 'CAP', true)
        .col.col-3
          +input('text', 'Città', true)
        .col.col-2
          +selectInForm('Provinciddfdfd dffdfd dfdf  *')
        .col.col-2
          +selectInForm('Stato *')
        .col.col-4
          +input('email', 'Email', true)
        .col.col-4
          +input('text', 'Telefono', false)
        .col.col-8
          +textarea('Richiesta *')
        .col.col-4
          .grid.grid--inner
            .col.col-33
              span
                | Allega Visura Camerale *
            .col.col-66
              +input-file('aggiungi file', 'file non caricato')
        .col.col-4
          .grid.grid--inner
            .col.col-33
              span
                | Allega Visura Camerale *
            .col.col-66
              +input-file('aggiungi file', 'file non caricato')
        .col.col-4
          .grid.grid--inner
            .col.col-33
              span
                | Allega Visura Camerale *
            .col.col-66
              +input-file('aggiungi file', 'file non caricato')
        .col.col-4
          span.italic
            | E’ possibile allegare qualsiasi tipo di file (PDF, JPG o ZIP).
        .col.col-8
          span.italic
            | Dimansione massima file 50MB.
        .col.col-4
          +checkbox('Acconsento al trattamento dei dati personali (Privacy policy) *')
        .col.col-4
          +checkbox('Desidero iscrivermi alla newsletter')
        .col.col-4
          +checkbox('Ho letto e accetto le Condizioni di vendita *')
        .col.col-4
          +checkbox('Desidero ricevee il perodico di informazione tecnica "TRACTOR PEOPLE"')
      .btn-wrap.btn-wrap--user-data
        +button(submitBigRed,'Richiedi Abilitazione')
