.form {
  &__text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  &__request-type {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  &__link {
    color: inherit;
    font-size: 10px;
    display: inline-block;
    padding-left: 9px;
    &:hover {
      text-decoration: none;
    }
  }
}
