.select {
  &__label {
    position: relative;
    display: block;
    margin-bottom: 10px;
    border: 1px solid $white;
  }

  &__title {
    position: absolute;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    color: $black;
    top: 10px;
    left: 10px;
    z-index: 1;
  }

  &__select {
    top: 0;
    left: 0;
    width: 100%;
  }

  &__option {
    display: block;
    text-align: right;
  }
}

.jcf-select {
  position: relative;
  width: 100%;
  display: block;
  text-align: right;
  padding: 7px 10px;
  padding-right: 40px;
  background: $light-gray;
  box-sizing: border-box;
  font-size: 13px;
}
.jcf-select-opener {
  @include bg($arrow-down-black);
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateZ(-50%);
}

.jcf-select-drop {
  position: absolute;
  top: 100%;
  left: -1px;
  z-index: 2;
  border: 1px solid $white;
  border-top: none;
  box-sizing: content-box;

  ul {
    @include nl();
    width: 100%;
    background: $light-gray;
    box-shadow: 0 3px 5px -2px gray;
    max-height: 300px;
    overflow-y: auto;
  }

  li {
    span {
      cursor: pointer;
      display: block;
      width: 100%;
      text-align: right;
      padding: 7px 10px;
      padding-right: 40px;
      box-sizing: border-box;
      border-top: 1px solid $white;
      transition: .2s;
      &:hover {
        background: darken($light-gray, 5%);
      }
    }
  }
}
