mixin select(data)
    label(class='select__label select__label--' + data.mod)
      if data.title
        .select__title= data.title
      select.select__select(data-jcf={"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false})
        each item in data.options
          option(class='select__option' title=item)= item
