mixin counter(data)
    div(class="counter" + (data.mod ? " counter--" + data.mod : ""))
      .counter__title
        if data.mod=="big"
          | quantità
        else
          | q.tà
      .counter__body
        input(type="number" value=data.count min='0' max='999' step='1').counter__count
