.counter {
  padding: 7px 15px;
  box-sizing: border-box;
  background: #f1f1f1;
  display: inline-block;
  min-width: 140px;
  margin-bottom: 45px;
  font-size: 14px;

  &__count {
    background: transparent;
    border:none;
    text-align: center;
    width: 100%;
  }

  &--big {
    width: 100%;
    border: 1px solid $white;
    background: #d2d2d2;
    margin-bottom: 20px;
    font-size: 12px;
    .counter__title {
      width: 70%;
    }
    .counter__body {
      width: 28%;
    }
  }

  &.disabled {
    .counter__btn {
      display: none;
    }
  }

  &__title {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    width: 35%;
  }
  &__body {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    text-align: center;
    padding: 0 13px;
  }
  .jcf-btn-inc {
    position: absolute;
    top: 50%;
    border: none;
    background: none;
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-50%);
    right: 0;
    @include bg($increase);
  }
  .jcf-btn-dec {
    position: absolute;
    top: 50%;
    border: none;
    background: none;
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-50%);
    left: 0;
    @include bg($decrease);
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}
