mixin order-table(data)
  .order-table__wrap
    .order-table
      .order-table__head
        each val,key in data.head
          div(class="order-table__cell order-table__cell--" + key)= val
      each row in data.rows
        a(href="#").order-table__row
          each val,key in row
            div(class="order-table__cell order-table__cell--" + key)= val
