.order-table {
  display: table;
  width: 100%;
  min-width: 650px;
  border-collapse: collapse;
  &__wrap {
    overflow-y: auto;
  }
  &__head {
    display: table-header-group;
    border-bottom: 1px solid $dark-gray;
    .order-table__cell {
      font-size: 13px;
      font-weight: 600;
      color: $black;
      text-transform: uppercase;
    }
  }
  &__row {
    text-decoration: none;
    color: $black;
    display: table-row;
    border-bottom: 1px solid $dark-gray
  }
  &__cell {
    display: table-cell;
    font-size: 13px;
    width: 25%;
    padding: 5px 10px;
    &--number {
      color: $red;
    }
    &--state {
      width: 35%;
    }
    &--total {
      width: 10%;
    }
  }
}
