.grid-nav {
  margin: 0;
  &__row {
    width: 100%;
    font-size: 0;
  }
  &__col {
    display: inline-block;
    height: 225px;
    width: 50%;
    padding: 1px;
    box-sizing: border-box;
    font-size: initial;
  }
  &__link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &:hover {
      .grid-nav__img-wrap {
        transform: scale(1);
      }
    }
  }
  &__title {
    position: absolute;
    margin: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $second-font;
    font-size: 60px;
    font-weight: 400;
    text-shadow: 0 1px 1px $black;
    color: $white;
  }
  &__img-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: scale(1.1);
    transition: .3s ease-in;
  }
  &__img {
    @include coverimg();
  }
}
