mixin grid-nav(data)
    .grid-nav
      -
        a = 0
        n = 0
      while a++ < 4
        - a++
        .grid-nav__row
          while n < a
            .grid-nav__col
              a.grid-nav__link(href="#")
                .grid-nav__img-wrap
                  img(src="__static__images/assets/grid-nav/" + data[n].src).grid-nav__img
                h3.grid-nav__title= data[n].title
            - n++

