.size-table {
  margin-bottom: 25px;
  &:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    margin-right: 15px;
    @include bg($icon-size);
  }
  &__link {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    color: $dark-gray;
    font-size: 13px;
    font-weight: 600;

    &:hover {
      text-decoration: none;
    }
  }
}
