.product-card {
  position: relative;
  border-bottom: 1px solid $almost-black;
  max-width: 820px;
  padding-left: 38%;
  box-sizing: border-box;

  &__del-btn {
    @include bg($trash);
    position: absolute;
    top: 40px;
    right: 0;
  }
  &__img-side {
    position: absolute;
    width: 38%;
    left: 0;
    top: 0;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;

    .product-img {
      width: 100%;
      height: 100%;
      &__wrap {
        padding: 0;
        height: 100%;
      }
    }
  }

  &__info-side {
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 10px;
    box-sizing: border-box;
  }

  &__title {
    font-size: 18px;
    color: $black;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__info {
    width: 100%;
    font-size: 0;
  }

  &__col {
    font-size: initial;
    width: 50%;
    display: inline-block;
    vertical-align: bottom;
    box-sizing: border-box;
    &--left {
      border-right: 1px solid $almost-black;
      padding-right: 10px;
    }
    &--right {
      border-left: 1px solid $almost-black;
      margin-left: -1px;
      text-align: center;
      padding-left: 10px;
    }
  }
  .specs {
    margin-bottom: 20px;
  }
  .price {
    margin-bottom: 0;
  }
}
