include ../product-img/product-img.pug
include ../specs/specs.pug
include ../price/price.pug
include ../counter/counter.pug

mixin product-card(data)
    .product-card
      a(href="#").product-card__del-btn
      .product-card__img-side
        +product-img(tShirt)
      .product-card__info-side
        .product-card__title
          | Polo corporate
        .product-card__info
          .product-card__col.product-card__col--left
            +specs(popupSpecs)
            +price(productCardPrice)
          .product-card__col.product-card__col--right
            +counter(counter)
            +price(productCardPriceTotal)
