include ../button/button.pug
mixin promo-code(data)
    .promo-code
      .promo-code__title= data.title
      .promo-code__label
        input(type="text").promo-code__input
        .promo-code__btn
          +button(promo)
