.promo-code {
  margin-top: -1px;
  width: 100%;
  border-top: 1px solid #232323;
  border-bottom: 1px solid #232323;
  box-sizing: border-box;
  padding: 25px 10px 40px;
  &__title {
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 13px;
  }
  &__label {
    width: 100%;
  }
  &__input {
    width: 100%;
    height: 20px;
    background: #f1f1f1;
    border: none;
    margin-bottom: 13px;
  }
  &__btn {
    width: 100%;
    text-align: right;
  }
}
