.radio {
  display: inline-block;
  padding: 7px 0;
  &__title {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
  &__value {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;

    &:last-child {
      margin-right: 0;
    }
  }
  &__wrap {
    display: inline-block;
    white-space: nowrap;
  }
}
.jcf-radio {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid $almost-black;
  background: #f1f1f1;
  box-shadow: none;
  margin-right: 2px;
  &:last-child {
    margin-right: 0;
  }

  &.jcf-checked {
    > span {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: none;
      background: $almost-black;
    }
  }
}
.invalid {
  &.radio {
    color: $red;
  }
  .jcf-radio {
    border-color: $red;
  }
}
