mixin radio(title, name, buttons)
  label.radio
    span.radio__title= title
    .radio__wrap
      each button in buttons
        input(type="radio" name= name).radio__input
        span.radio__value= button
