.product-img {
  &__wrap {
    position: relative;
    width: 100%;
    padding-top: 100%;
  }

  &__img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
