mixin footer(data)
    footer.main-footer
      .container
        .main-footer__col.main-footer__col--big
          include ../logo/logo.pug
          -
            var logo = {
              src: "__static__images/assets/logo/logo-footer.png",
              mod: "footer",
              alt: "Antonio Carraro tractor people"
            };
          a(href="index.html").main-footer__logo-link
            +logo(logo)
          .contacts-footer__wrap
            include ../contacts-footer/contacts-footer
            +contacts-footer(contactsFooter)
            include ../socials/socials.pug
            +socials(footer)
        .main-footer__col
          include ../footer-list/footer-list
          -
            var data = {
              title: "Servizio clienti",
              items: [
                'Azienda',
                'Contatti',
                'Faq'
              ]
            };
          +footer-list(data)
        .main-footer__col
          -
            var data = {
              title: "Prodotti",
              items: [
                'Corparate line',
                'Fashion line',
                'Kida line',
                'Da non perdere'
              ]
            };
          +footer-list(data)
        .main-footer__col.main-footer__col--last
          -
            var data = {
              title: "Pagamenti",
              items: [
                {
                  mod: 'paypal',
                  val: 'Pay pal'
                },
                {
                  mod: 'mastercard',
                  val: 'Master Card'
                },
                {
                  mod: 'visa',
                  val: 'Visa'
                },
                'Contrassengno'
              ]
            };
          +footer-list(data)
        include ../copyright/copyright.pug
        +copyright(copyright)
