.page__footer {
  background-image: url('__static__assets/footer/footer-pattern.jpg');
}
.main-footer {
  width: 100%;
  background-repeat: repeat;
  background-image: linear-gradient(to bottom, #07080a 0%, rgba(22, 26, 30, 0.7) 74%, rgba(27, 32, 37, 0.4) 100%);
  min-height: 243px;
  font-size: 0;
  padding: 30px 0;
  box-sizing: border-box;

  &__col {
    display: inline-block;
    vertical-align: top;
    width: 22%;
    font-size: initial;
    border-right: 1px solid #424148;
    margin-left: -1px;
    min-height: 150px;
    padding: 0 30px;
    box-sizing: border-box;

    &--last {
      border: none;
    }

    &--big {
      width: 34%;
    }
  }
  &__logo-link {
    display: inline-block;
    margin-right: 20px;
  }
}
.contacts-footer__wrap {
  display: inline-block;
  vertical-align: top;
}
