mixin credits(data)
    .credits__bg
      .credits__body
        button(type='button').credits__close-btn
        .credits__title
          | Credits
        .credits__wrap
          .credits__section
            a(href="#").credits__img-wrap
              img(src='__static__images/assets/credits/e-team.png').credits__img
            .credits__content
              a(href="mailto:eteam@antoniocarraro.it").credits__link
                | E-TEAM eteam@antoniocarraro.it
              .credits__text
                | La Antonio Carraro S.p.A. si impegna in prima persona per lo sviluppo e il continuo aggiornamento del sito internet, con un team interno all'azienda che lo segue a livello grafico, di contenuti e di coordinamento generale.
          .credits__section
            a(href="#").credits__img-wrap
              img(src="__static__images/assets/credits/active121.png")
            .credits__content
              a(href="mailto:info@acrive121.com").credits__link
                | ACTIVE 121 info@active121.com
              .credits__text
                | Active121 web agency strategica offre consulenza e soluzioni innovative per ottimizzare le performance di business delle aziende.
          .credits__bottom
            | ANTONIO CARRARO SPA Via Caltana, 24 - 35011 CAMPODARSEGO PD - Italy Iscritta nel registro delle Imprese di Padova in data 19.02.1996 REA 126503 del 26.02.1976 Capitale Sociale in EURO deliberato-sottoscritto-versato 2.107.320,00 Sistema di amministrazione e controllo - CONSIGLIO DI AMMINISTRAZIONE
