.credits {
  &__bg {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100vh;
    z-index: 999;
    overflow: auto;
    font-size: 0;
    text-align: center;
    padding: 10px;
    &:before {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }
  &__body {
    text-align: left;
    font-size: initial;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background: $white;
    max-width: 610px;
  }
  &__wrap {
    padding: 25px;
    padding-bottom: 30px;
  }
  &__title {
    font-family: $second-font;
    font-size: 19px;
    text-transform: uppercase;
    background: $red;
    padding: 10px 25px;
    color: $black;
    &:before {
      content: "_";
      color: $white;
    }
  }

  &__img-wrap {
    display: inline-block;
    margin-bottom: 30px;
  }

  &__link {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    color: $black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__section {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid $dark-gray;
    font-size: 15px;
    font-weight: 300;
  }
  &__close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    border:none;
    background: none;
    @include bg($close-white);
  }
  &__bottom {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
  }
}
