.specs {
  &__list {
    @include nl();
    @include cf();
    display: table;
  }
  &__row {
    display: table-row;
  }
  &__key {
    display: table-cell;
    font-size: 16px;
    font-weight: 400;
    padding-right: 5px;
  }
  &__val {
    display: table-cell;
    font-size: 16px;
    font-weight: 600;
  }
}
