@media screen and (min-width: 1024px) {
  .header__nav {
    display: block !important;
  }
}
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {
  .header {
    margin-bottom: 40px;
    &.hidden-menu {
      margin-bottom: 0;
    }
    &__rightside {
      position: absolute;
      top: 100%;
      width: 100%;
      border-top: 1px solid $red;
      padding: 0;
      z-index: 2;
    }
    &__nav {
      display: none;
      float: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      text-align: left;
      z-index: 500;
      padding-right: 0;
    }
    &__topbar {
      margin-bottom: 0;
      padding: 8px 20px;
      width: 100%;
      background: #f1f1f1;

      &:after {
        display: none;
      }
    }
  }
  .logo {
    &--header {
      width: 100px;
      height: 92px;
    }
  }
  .hamburger {
    display: inline-block;
  }
  .nav {
    &__list {
      &--inner {
        position: static;
        opacity: 1;
        visibility: visible;
        display: none;
        transition: none;
        border-top: none;
      }
    }
    &__item {
      background: $dark-gray;
      display: block;
      margin-left: 0;
      border-bottom: 1px solid #fafafa;

      &--parent {
        &:after {
          @include bg($arrow-right-white);
          content: '';
          position: absolute;
          cursor: pointer;
          top: 20px;
          right: 15px;
          z-index: 1;
        }
      }

      &--inner {
        border-bottom: 1px solid $dark-gray;
      }

      &.isOpened {
        border-bottom-color: $dark-gray;
      }
    }
    &__link {
      color: #fafafa;
      padding: 10px 15px;
      display: inline-block;
      border-bottom: none;
      background: $dark-gray;

      &--inner {
        color: $dark-gray;
        padding-left: 40px;
        display: block;
        background: #f1f1f1;
      }
    }
  }
  .product {
    width: 33%;
    width: calc(100%/3);
  }
  .pre-footer {
    text-align: center;
    &__newsletter {
      margin-bottom: 10px;
      text-align: left;
    }
    &__form {
      float: none;
      display: block;
    }
  }
  .main-footer {
    &__col {
      width: 33%;
      width: calc(100%/3);
      &--big {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }
  .tabs {
    &__list {
      float: none;
      margin-bottom: 50px;
      border-right: none;
      border-bottom: 1px solid $dark-gray;
    }
    &__content {
      padding-left: 0px;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 960px) {
  .grid-nav {
    &__title {
      font-size: 48px;
    }
  }
  .grid {
    &--small,
    &--inner {
      .col {
        margin-bottom: 10px;
      }
    }
    .col {
      width: 100%;
      &-1 {
        width: 50%;
      }
      &-2 {
        width: 50%;
      }
      &-3 {
        width: 50%;
      }
      &-20 {
        width: 50%;
      }
      &-35 {
        width: 50%;
      }
      &-33 {
        width: 50%;
      }
    }
  }
}
@media screen and (max-width: 840px) {
  .popup {
    &__content {
      max-width: 360px;
      padding-left: 20px;
      padding-top: 320px;
    }
    &__img-side {
      max-height: 320px;
      width: 100%;
    }
    .product-info {
      &__left-side {
        border-right: none;
        border-bottom: 1px solid #333333;
        display: block;
        width: 100%;
        padding-bottom: 30px;
      }
      &__right-side {
        display: block;
        width: 100%;
        padding-left: 0;
      }
    }
  }
  .content-wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: block;
  }
  .sidebar {
    position: fixed;
    z-index: 500;
    top: 0;
    height: 100%;
    transition: .5s ease-in-out;
    right: -340px;
    box-shadow: -5px 0 10px 0 gray;
    &__content {
      overflow-y: auto;
      height: 100%;
    }
    &.open {
      right: 0;
    }
  }
  .page {
    &__content {
      width: 100%;
    }
  }
  .slide-arrow {
    display: block;
  }

  .product {
    width: 50%;
  }

  .order-completed {
    &__bottom {
      text-align: center;
    }
    &__btn-wrap {
      float: none;
    }
  }
  .bank-account-details {
    text-align: left;
  }
  .login {
    display: block;
    width: 100%;
    margin-bottom: 60px;
  }

  .pre-footer {
    &__checkbox-label {
      display: block;
      margin-bottom: 25px;
    }
    &__checkbox-text {
      margin-right: 0;
    }
  }
}
@media screen and (max-width:720px) {
  .search__input {
    width: 180px;
    opacity: 1;
    background: $white;
  }
  .grid-nav {
    &__col {
      width: 100%;
    }
  }
  .button {
    &--cart {
      min-width: auto;
      font-size: 0;
    }
    &__count {
      font-size: 13px;
      margin-left: 0;
    }
  }
  .topbar {
    &__link {
      &--login {
        font-size: 0;
        &:after {
          bottom: 1px;
        }
      }
    }
  }
}
@media screen and (max-width:640px) {
  .page {
    &__content {
      &--login {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  .product {
    width: 100%;
    border-color: $light-gray;

    &.slick-slide {
      border-color: transparent;
    }

    &__title {
      border-color: transparent;
    }

    &__hidden {
      position: static;
      display: block;
    }
  }
  .slide-description {
    position: static;
    background: $black;
    text-decoration: none;
    padding-bottom: 20px;
    &.top,
    &.left {
      top: auto;
      left: 0;
      width: 100%;
      max-width: none;
    }
  }
  .order-completed {
    padding-left: 20px;
    padding-right: 20px;
  }
  .thanks {
    &__sign-wrap {
      width: 80%;
    }
  }
  .pre-footer {
    &__input {
      min-width: 60%;
    }
  }
  .main-footer {
    &__col {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #424148;
      text-align: center;

      &--big {
        width: 100%;
        border-bottom: 1px solid #424148;
      }
    }
    &__logo-link {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  .footer-list {
    text-align: center;
  }
}
@media screen and (max-width: 540px) {
  .sure {
    top: 100%;
    left: 0;
    &:before {
      left: 50%;
      top: 0;
    }
  }
}
@media screen and (max-width:480px) {
  .header {
    margin-bottom: 80px;
    &.hidden-menu {
      margin-bottom: 0;
    }
    &__topbar {
      text-align: center;
    }
  }
  .search {
    display: block;
    margin-bottom: 20px;
    &__input {
      width: 70%;
      &:focus,
      &.focus {
        width: 70%;
      }
    }
    &__submit {
      right: 15%;
    }
  }
  .btn-wrap {
    &--user-data {
      text-align: center;
    }
  }
  .form {
    &__send {
      text-align: center;
    }
    &__send-title {
      margin-bottom: 10px;
    }
  }
  .button {
    &--submit-checkout {
      float: none;
    }
  }
  .tabs__list {
    width: 100%;
  }
  .grid {
    &--small {
      .col {
        margin-bottom: 10px;
      }
    }
    .col {
      width: 100%;
      &-1 {
        width: 100%;
      }
      &-2 {
        width: 100%;
      }
      &-3 {
        width: 100%;
      }
      &-20 {
        width: 100%;
      }
      &-35 {
        width: 100%;
      }
      &-33 {
        width: 100%;
      }
    }
  }
  .pre-footer {
    &__input {
      margin-bottom: 10px;
    }
  }
  .product-card {
    padding-left: 0px;
    padding-top: 0;
    &__img-side {
      position: static;
      height: 250px;
      width: 100%;
    }
    &__info-side {
      padding: 15px 10%;
      text-align: center;
    }
    &__col {
      border: none;
      width: 100%;
      padding: 15px 0;
      &--left {
        border-bottom: 1px solid #232323;
      }
    }
    .specs {
      &__list {
        display: inline-block;
        text-align: left;
      }
    }
  }
  .credits {
    &__body {
      width: 100%;
    }
  }
}

@media screen and (max-width:370px) {
  .sidebar {
    width: 320px;
    right: -320px;
    &.open {
      .slide-arrow {
        left: 0;
        box-shadow: 0 0 5px 0 gray;
        z-index: 2;
      }
    }
  }

}
