include ../../selectInForm/selectInForm.pug
include ../../input/input.pug
include ../../checkbox/checkbox.pug
include ../../button/button.pug
mixin form-checkout(data)
  form.form.form--checkout
    .form__wrap
      .form__title
        | Dati per la fatturazione
      .grid
        .col.col-4
          +input('text', 'Nome', true)
        .col.col-4
          +input('text', 'Cognome', true)
        .col.col-4
          +input('text', 'Ragione sociale', false)
        .col.col-4
          .grid.grid--small
            .col.col-2
              span
                | Data di nascita
            .col.col-2
              +selectInForm('Giorno *')
            .col.col-2
              +selectInForm('Mese *')
            .col.col-2
              +selectInForm('Anno *')
        .col.col-6
          +input('text', 'Indirizzo', true)
        .col.col-2
          +input('text', 'Civico', true)
        .col.col-1
          +input('text', 'CAP', true)
        .col.col-3
          +input('text', 'Città', true)
        .col.col-2
          +selectInForm('Provincia *')
        .col.col-2
          +selectInForm('Stato *')
        .col.col-4
          +input('text', 'Partita IVA ( se si possiede p.IVA è possibile ricevere fattura)', false)
        .col.col-4
          +input('text', 'Codice fiscale', false)
        .col.col-4
          +checkbox('Concessionario AC', 'normal')
        .col.col-4
          +input('text', 'Telefono', true)
        .col.col-4
          +input('email', 'Email', true)
        .col.col-4
          +input('email', 'Conferma email', true)
        .col.col-4
          +input('password', 'Password', true)
        .col.col-4
          +input('password', 'Conferma password', true)
        .col.col-4
          +checkbox('Acconsento al trattamento dei dati personali (Privacy policy) *')
        .col.col-4
          +checkbox('Desidero iscrivermi alla newsletter')
        .col.col-4
          +checkbox('Ho letto e accetto le Condizioni di vendita *')
        .col.col-4
          +checkbox('Desidero ricevere il periodico di informazione tecnica “Tractor people”')
        .col.col-8
          +checkbox('Spedisci ad un indirizzo diverso', 'bold')
    .form__wrap
      .form__title
        | Dati per la spedizione
      .grid
        .col.col-4
          +selectInForm('Tipologia di cliente')
        .col.col-4
        .col.col-4
          +input('text', 'Nome', true)
        .col.col-4
          +input('text', 'Cognome', true)
        .col.col-4
          +input('text', 'Ragione sociale', true)
        .col.col-4
          +input('text', 'Partita IVA')
        .col.col-8
          +input('text', 'Indirizzo', true)
        .col.col-20
          +input('text', 'CAP', true)
        .col.col-45
          +input('text', 'Citta', true)
        .col.col-35
          +selectInForm('Provincia *')
  .form__send
    .form__send-title
      | Concludi e paga
    +button(submitCheckout)
