.form {
  &__wrap {
    padding: 25px 10px 10px;
    border-bottom: 1px solid $dark-gray;
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
    color: $black;
    margin-bottom: 20px;
  }
  &__send {
    padding: 30px 0 35px;
  }

  &__send-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
  }
}
