include ../product-img/product-img.pug
include ../price/price.pug
include ../specs/specs.pug
include ../table-price/table-price.pug
mixin product-check(data)
  .product-check
    .product-check__img-side
      +product-img(tShirt)
    .product-check__title
      | Polo corporate
    +price(productCardPrice)
    +specs(checkSpecs)
    +table-price(productCheck)
