.product-check {
  position: relative;
  padding: 15px 0;
  margin-top: -1px;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  position: relative;
  padding-left:125px;
  z-index: 1;
  &__img-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 115px;
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .price {
    margin-bottom: 20px;
    &__val {
      font-size: 20px;
      &--new {
        font-size: 20px;
      }
    }
  }
  .specs {
    margin-bottom: 10px;
    &__name {
      font-size: 13px;
    }
    &__val {
      font-size: 13px;
    }
  }
  .table-price {
    border: none;
    padding: 0;

    &__text {
      font-size: 14px;
      font-weight: 600;
      width: 49%;
      text-transform: uppercase;
    }

    &__val {
      text-align: left;
      width: 50%;
    }
  }
}
