include ../button/button.pug
include ../table-price/table-price.pug
include ../price/price.pug
include ../specs/specs.pug
include ../product-img/product-img.pug

mixin popup(data)
  .popup
    .popup__content
      a(href="#").popup__close-btn
      .popup__img-side
        +product-img(tShirt)
      .popup__info-side
        .popup__title= data.title
        if data.product.title
          .product-info__title= data.product.title
        if data.product.subtitle
          .product-info__subtitle= data.product.subtitle
        .product-info__left-side
          +price(popupPrice)
          +specs(popupSpecs)
        .product-info__right-side
          if data.total
            +table-price(totalPriceSmall)
          +button(continueShopping)
          +button(back)
