.popup {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, .5);
  z-index: 500;
  font-size: 0;
  text-align: center;
  padding: 10px;
  &:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    height: 100%;
    width: 0;
  }
  &__content {
    text-align: left;
    font-size: initial;
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;;
    display: inline-block;
    vertical-align: middle;
    background: $white;
    padding: 20px;
    padding-bottom: 30px;
    padding-left: 320px;
    box-sizing: border-box;
  }
  &__close-btn {
    @include bg($close-red);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1;
  }
  &__img-side {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 320px;
    padding: 20px;
    box-sizing: border-box;
  }
  &__img-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
  }
  &__title {
    font-size: 20px;
    font-family: $second-font;
    font-weight: 400;
    color: $red;
    text-transform: uppercase;
    margin-bottom: 30px;
    &:before {
      content: '';
      display: inline-block;
      margin-right: 5px;
      @include bg($plus-gray);
    }
  }
}

.product-info {
  &__left-side {
    display: inline-block;
    vertical-align: bottom;
    width: 49%;
    border-right: 1px solid $dark-gray;
    box-sizing: border-box;
    padding-right: 10px;
  }
  &__right-side {
    display: inline-block;
    vertical-align: bottom;
    width: 49%;
    box-sizing: border-box;
    padding-left: 10px;
  }
}
