.logo {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;

  &--header {
    width: 136px;
    height: 125px;
  }

  &--footer {
    width: 94px;
    height: 85px;
  }

  &__img {
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
