.footer-list {
  color: $footer-text;
  text-align: left;
  text-transform: uppercase;

  &__list {
    @include nl();
  }
  
  &__title {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  &__item {
    margin-bottom: 5px;
  }
  
  &__link {
    display: inline-block;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
    color: $footer-text;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &--img {
      text-indent: -9999px;
    }

    &--paypal {
      @include bg($pay-pal);
    }
    &--visa {
      @include bg($visa);
    }
    &--mastercard {
      @include bg($mastercard);
    }
  }
}
