mixin footer-list(data)
    .footer-list
      .footer-list__title= data.title
      ul.footer-list__list
        each item in data.items
          li.footer-list__item
            if (!item.mod)
              a(href='#').footer-list__link= item
            else
              a(href='#' class="footer-list__link footer-list__link--img footer-list__link--" + item.mod)= item.val