.thanks {
  text-align: center;
  margin-bottom: 40px;
  &__img-wrap {
    width: 172px;
    height: 201px;
    position: relative;
    margin: 0 auto;
  }
  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
  }
  &__title {
    font-size: 40px;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  &__content {
    font-size: 18px;
    font-weight: 400;
  }
  &__top-text {
    &:after {
      display: block;
      max-width: 795px;
      width: 100%;
      margin: 0 auto;
      content: '';
      border-top: 1px solid #c6cdd2;
      margin-bottom: 30px;
    }
  }
  &__line {
    margin-bottom: 30px;
  }
  .bold-text {
    font-weight: 700;
  }
  &__link {
    text-decoration: none;
    font-weight: 700;
    color: $black;

    &:hover {
      text-decoration: underline;
    }
  }
  &__sign-wrap {
    position: relative;
    width: 480px;
    height: 81px;
    overflow: hidden;
    margin: 0 auto;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
}
