mixin thanks(data)
    .thanks
      .thanks__img-wrap
        img.thanks__img(src='__static__images/assets/thanks/logo-big.png' alt="Antonio Carraro logo")
      .thanks__title
        | Grazie!
      .thanks__content
        .thanks__top-text
          .thanks__line
            | Siamo lieti di informarti che abbiamo preso in carico il tuo ordine.
          .thanks__line
            | Ti ricordiamo che puoi seguire lo stato di avanzamento del tuo ordine collegandoti alla sezione accedi.
        .thanks__bottom-text
          .thanks__line
            | Ti ringraziamo per aver scelto
            span.bold-text
              | Antonio Carraro
            |, speriamo di rivederti presto su 
            a(href='#').thanks__link
              | eshop.antoniocarraro.it
          .thanks__line
            | I migliori saluti dallo Staff Antonio Carraro
        .thanks__sign-wrap
          img(src="__static__images/assets/thanks/signature.jpg")
