include ../button/button.pug
mixin register-text(data)
    .register-text
      .register-text__title
        | Sei nuovo? registrati.
      .register-text__text
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      .btn-wrap.btn-wrap--user-data
        +button(bigRed,'Registrati')
