.checkbox__label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  font-size: 10px;

  &--bold {
    margin-top: 20px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
  }

  &--normal {
    font-size: 13px;
  }
  .jcf-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    border-color: #f1f1f1;
    background: #f1f1f1;
    width: 13px;
    height: 13px;
    &.jcf-checked {
      background: $light-gray;

      > span {
        display: none;
      }
    }
    &.jcf-focus {
      box-shadow: 0 0 0 1px $light-gray;
    }
  }
  &.jcf-label-active {
    .jcf-checkbox {
      box-shadow: 0 0 0 1px $light-gray;
    }
  }
}
.invalid {
  .jcf-checkbox {
    box-shadow: 0 0 0 2px $red !important;
  }
  .checkbox__title {
    color: $red;
  }
}
