.input {
  position: relative;
  min-height: 30px;
  width: 100%;
  border: none;
  outline-color: $light-gray;
  background: #f1f1f1;
  // transition: .3s;
  border-radius: none;
  font-size: 13px;
  padding: 5px 10px;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;

  &.invalid {
    border-color:$red;
    &::-moz-placeholder {
      color: $red;
    }
    &::-webkit-input-placeholder {
      color: $red;
    }
  }
}
