.table-price {
  width: 100%;
  margin-top: -1px;
  padding: 10px;
  padding-bottom: 15px;
  border-top: 1px solid $almost-black;
  border-bottom: 1px solid $almost-black;
  box-sizing: border-box;

  &--total-small {
    border:none;
  }

  &--promo {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }

  &--total-big {
    .table-price__text {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 600;
    }
    .table-price__val {
      font-size: 30px;
    }
    margin-bottom: 23px;
  }
  &__text {
    display: inline-block;
    vertical-align: bottom;
    font-size: 18px;
    font-weight: 400;
    width: 69%;
  }
  &__bold {
    font-weight: 600;
  }
  &__curr {
    margin-right: 5px;
  }
  &__val {
    display: inline-block;
    vertical-align: bottom;
    width: 30%;
    text-align: right;
    margin-left: -4px;
    font-family: $second-font;
    font-size: 25px;
  }
  &--checout-promo {

  }
}
.content-wrap--checkout {
  .table-price {
    padding-bottom: 10px;
  }
  .table-price--total-big {
    .table-price__text {
      font-size: 20px;
    }
  }
  .table-price__text {
    font-size: 15px;
  }
  .table-price__val {

  }
}
