mixin table-price(data)
    div(class="table-price" + (data.mod ? " table-price--" + data.mod : ""))
      .table-price__text= data.text
        if data.boldText
          span.table-price__bold= data.boldText
      .table-price__val
        span.table-price__curr= data.currency
        span.table-price__num= data.num
