script(src='%=static=%js/separate-js/jquery.min.js')
script(src='%=static=%js/separate-js/slick.min.js')
script(src='%=static=%js/separate-js/jcf/jcf.js')
script(src='%=static=%js/separate-js/jcf/jcf.checkbox.js')
script(src='%=static=%js/separate-js/jcf/jcf.file.js')
script(src='%=static=%js/separate-js/jcf/jcf.select.js')
script(src='%=static=%js/separate-js/jcf/jcf.radio.js')
script(src='%=static=%js/separate-js/jcf/jcf.number.js')
script(src='%=static=%js/separate-js/jquery.matchHeight.js')
script(src='%=static=%js/separate-js/jquery.placeholder.js')
script(src='%=static=%js/separate-js/html5shiv-3.7.2.min.js')

//- Main scripts. You can replace it, but I recommend you to leave it here
script(src='%=static=%js/main%=hash=%%=min=%.js')
