.slide-arrow {
  display: none;
  position: absolute;;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  height: 60px;
  width: 30px;
  background: none;
  background: $sidebar-bg;
  border: none;
  box-shadow: -5px 0 8px 0 gray;
  outline: none;
  &:hover {
    &:after {
      opacity: 1;
    }
  }
  &:after {
    opacity: .77;
    content: '';
    position: absolute;
    @include bg($arrow-left-red);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.open {
  .slide-arrow {
    &:after {
      @include bg($arrow-right-red);
    }
  }
}
