include ../sure/sure.pug
include ../hamburger/hamburger.pug
include ../button/button.pug
mixin header(data)
    header(class="header" + (data=="hidden-menu" ? " hidden-menu" : ''))
      .container
        .header__leftside
          include ../logo/logo.pug
          -
            var logo = {
              src: "__static__images/assets/logo/logo-header.png",
              mod: "header",
              alt: "Antonio Carraro tractor people"
            };
          a(href="index.html").header__logo-link
            +logo(logo)
            h1.logo__title
              | Eshop
          if data=="hidden-menu"
            +sure()
        if data!="hidden-menu"
          +hamburger()
          .header__rightside
            .header__topbar
              include ../search/search.pug
              +search()
              if data=='logout'
                -
                  var links = {
                    'contacts': 'Contatti',
                    'login': 'Nome Cognome',
                    'logout': 'Logout',
                    'cartEmpty': 'Carrello',
                    'lang': 'Eng'
                  };
              else
                -
                  var links = {
                    'contacts': 'Contatti',
                    'login': 'Accedi/Registrati',
                    'cart': 'Carrello',
                    'lang': 'Eng'
                  };
              each val, key in links
                case key
                  when 'cart'
                    +button(btnCart)
                  when 'logout'
                    +button(btnLogout, val)
                  when 'cartEmpty'
                    +button(btnCartEmpty)
                  default
                    a(href="#" class="topbar__link topbar__link--" + key + (data=='logout' && key=='login' ? ' active' : ''))= val
            .header__nav

              include ../nav/nav.pug
              .nav
                +nav(nav)
