.header {
  position: relative;
  background-color: $header-bg;
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0, .05));

  &__leftside {
    float: left;
    position: relative;
  }

  &__rightside {
    float: right;
    text-align: right;
    padding-right: 15px;
  }

  &__nav {
  }

  &__logo-link {
    display: block;
    text-decoration: none;
    line-height: 1;
  }
  &__topbar {
    display: inline-block;
    padding-top: 8px;
    margin-bottom: 25px;
    &:after {
      content: '';
      display: block;
      min-width: 620px;
      margin-right: -15px;
      height: 1px;
      background-image: linear-gradient(to right, transparent, $red 15%, $red);
    }
  }
}

.logo__title {
  display: inline-block;
  vertical-align: middle;
  font-size: 36px;
  text-transform: uppercase;
  color: $red;
  font-family: $second-font;
  text-shadow: 0 2px 5px $dark-gray;
  margin: 0;
}

.topbar {
  &__link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: $black;
    margin-left: 20px;
    transition: .2s;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;

    &.active {
      border-bottom-color: $red;
    }

    &:hover,
    &:focus {
      color: $red;
    }

    &--login {
      padding-left: 20px;
      &:after {
        position: absolute;
        content: '';
        display: inline-block;
        bottom: 7px;
        left: 0;
        @include bg($user-icon);
      }
    }

    &--lang {
      text-transform: uppercase;
    }
  }
}
