.hamburger {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 60px;

  &__line {
    position: relative;
    display: block;
    top: 0;
    width: 100%;
    margin-bottom: 7px;
    height: 8px;
    background: $dark-gray;
    transition: .2s;
  }
}
