// Common styles of the project
* {
  box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: $main-font;
    line-height: 1.2;
    width: 100%;
    
    &.fixed {
      position: fixed;
    }
}

.page {
  &__text {
    display: inline-block;
    margin-bottom: 25px;
    font-size: 18px;
  }
}

.page__wrapper {
    min-height: 100%;
    padding-bottom: 243px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.page__footer {
  margin-top: -243px;
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 50px;
}
.container {
  @include cf();
  margin: 0 auto;
  max-width: 1170px;

  &--wide {
    max-width: 100%;
  }
}
.slider {
  margin-bottom: 40px;
}

.product-section {
  position: relative;
}

.content-wrap {
  @include cf();
  &--cart {
    flex-direction: row-reverse;
  }
  &--checkout {
    flex-direction: row-reverse;

  }
}
.sidebar {
  position: relative;
  width: 340px;
  background: $sidebar-bg;
  flex: 1 1 340px;
  flex-shrink: 0;
  float: right;

  &__content {
    padding: 25px 10px;
    box-sizing: border-box;
  }

  &__btn-wrap {
    @include cf();
    margin-bottom: 35px;
  }

  &--left {
    float: left;
    &+.page__content {
      float: right;
    }
  }

  &__section {
    border-top: 1px solid $white;
    padding-top: 15px;
  }
}

.page__content {
  flex: 1 1 840px;
  box-sizing: border-box;
  padding: 14px;
  max-width: 840px;
  float: left;
  width: calc(100% - 340px);
  &--login {
    max-width: none;
    padding: 30px 35px;
    margin-bottom: 65px;
    width: auto;
  }
}

.slider-bottom {
  max-width: 725px;
  margin: 0 auto;
}

.grid {
  margin: 0 -9px;
  font-size: 0;
  &--small {
    margin: 0 -2px;

    .col-2 {
      padding: 0 2px;
      margin-bottom: 0;
      vertical-align: middle;
    }
  }
  &--inner {
    margin: 0 -4px;
    .col {
      margin-bottom: 0;
      padding: 0 4px;
      vertical-align: middle;
    }
  }
}
.col {
  display: inline-block;
  vertical-align: top;
  font-size: initial;
  box-sizing: border-box;
  padding: 0 9px;
  margin-bottom: 20px;
  font-size: 13px;

  &:empty {
    margin-bottom: 0;
  }

  a {
    color: inherit;
    font-size: 10px;
    &:hover {
      text-decoration: none;
    }
  }
  >span {
    font-size: 13px;
    &.italic {
      font-style: italic;
    }
  }

  &-1 {
    width: 12.5%;
  }
  &-2 {
    width: 25%;
  }
  &-3 {
    width: 37.5%;
  }
  &-4 {
    width: 50%;
  }
  &-5 {
    width: 62.5%;
  }
  &-6 {
    width: 75%;
  }
  &-7 {
    width: 87.5%;
  }
  &-8 {
    width: 100%;
  }
  &-20 {
    width: 20%;
  }
  &-45 {
    width: 45%;
  }
  &-35 {
    width: 35%;
  }
  &-33 {
    width: 33%;
    width: calc(100%/3);
  }
  &-66 {
    width: 66%;
    width: calc(100%/1.5);
  }
}
.order-completed {
  padding: 50px 100px 60px;
  box-sizing: border-box;
  &__bottom {
    @include cf();
  }
  &__btn-wrap {
    margin-top: 75px;
    float: right;
  }
}
.info-faq,
.order-list,
.user-data {
  box-sizing: border-box;
  padding: 30px 35px 60px;
}
.login-wrap {
  font-size: 0;
  margin: 0 -25px;
  margin-bottom: 35px;
}
.login {
  font-size: initial;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  box-sizing: border-box;
  padding: 0 25px;
}

.lt-ie9 {
  body {
    min-width: 1170px;
  }
}
