// Main colors
$red: #ff0000;
$gray: #686868;
$light-gray: #d2d2d2;
$dark-gray: #333333;
$black: #000000;
$white: #ffffff;
$almost-black: #232323;

$footer-text: #cccccc;

$header-bg: #fafafa;

$sidebar-bg: #cccccc;

//fonts
$main-font: 'Open Sans', sans-serif;
$second-font: 'Oswald', sans-serif;
