.validate-error {
  color: $red;
  font-size: 18px;
  margin-bottom: 20px;

  &__list {
    @include nl();
  }
  &__item {
    position: relative;
    padding-left: 10px;
    &:before {
      content: '';
      position: absolute;
      display: inline-block;
      left: 0;
      top:50%;
      margin-top: -3px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: $red;

    }
  }
}
