mixin validate-error(data)
    .validate-error
      .validate-error__title= data.title
      ul.validate-error__list
        each error in data.errors
          li.validate-error__item= error
        
