.button {
  $bg: $red;
  position: relative;
  text-transform: uppercase;
  background: $bg;
  color: white;
  border: none;
  outline: none;
  transition: .2s;
  min-width: 103px;
  min-height: 22px;

  &:hover,
  &:focus {
    background: darken($bg, 10%);
  }
  &:active {
    background: darken($bg, 15%);
  }

  &--cart {
    font-family: $main-font;
    padding: 3px 10px;
    padding-right: 25px;
    font-size: 13px;
    font-weight: 600;
    margin-left: 15px;

    &.empty {
      $bg: transparent;
      color: $black;
      background: none;
      .button__count {
        color: $black;
        background: none;
      }
      &:after {
        @include bg($cart-black);
      }
    }

    &:after {
      position: absolute;
      top: 3px;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      content: '';
      @include bg($cart);
    }
  }

  &__count {
    display: inline-block;
    background: $white;
    border-radius:10px;
    height: 16px;
    min-width: 16px;
    padding: 0 3px;
    box-sizing: border-box;
    color: $red;
    margin-left: 15px;
  }

  &--redirect {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 30px;
  }

  &--gray {
    font-size: 12px;
    font-weight: 600;
    padding: 7px 10px;
    background: $gray;
    color: $white;

    &:hover {
      box-shadow: none;
      background: darken($gray, 10%);
    }
  }

  &--add-cart {
    background: $red;
    font-size: 12px;
    font-weight: 600;
    padding: 7px 10px;

    &:before {
      display: inline-block;
      @include bg($cart-add);
      content: '';
      margin-right: 10px;
    }
  }

  &--sidebar {
    width: 100%;
    font-size: 15px;
    margin-bottom: 20px;
  }

  &--submit {
    border: 1px solid $white;
    padding: 0 10px;
    height: 23px;
    box-sizing: border-box;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
  }
  &--continue {
    width: 100%;
    margin-bottom: 20px;
    &:before {
      @include bg($cart);
    }
  }
  &--back {
    width: 100%;
    background: #f1f1f1;
    color: $dark-gray;

    &:hover {
      background: darken(#f1f1f1, 10%);
    }
    &:before {
      display: inline-block;
      @include bg($arrow-left-black);
      content: '';
      margin-right: 10px;
    }
  }
  &--promo {
    font-size: 13px;
    background: #232323;
    color: $white;

    &:hover {
      background: darken(#232323, 10%);
    }
  }
  &--next {
    font-size: 20px;
    padding: 10px;
    min-width: 190px;
    box-sizing: border-box;
    float: right;
  }

  &--submit-checkout {
    float: right;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    padding-right: 55px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 13px;
      right: 28px;
      @include bg($arrow-right-white);
    }
  }
  &--thanks {
    font-weight: 600;
    font-size: 15px;
    padding: 5px 10px;
    text-align: center;
    min-width: 217px;
  }
  &--sure-red {
    min-width: 190px;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  &--sure-gray {
    padding: 5px 10px;
    box-sizing: border-box;
    min-width: 190px;
    font-size: 13px;
    font-weight: 600;
    background: #f1f1f1;
    color: $black;
    &:focus {
      background: #f1f1f1;
      outline: 1px solid $light-gray
    }
    &:hover {
      background: $light-gray;
    }
    &:active {
      background: $gray;
    }

  }
  &--big-red {
    font-size: 20px;
    padding: 10px;
    min-width: 190px;
    box-sizing: border-box;
  }
  &--logout {
    background: #232323;
    font-size: 13px;
    font-weight: 600;
    padding: 3px 10px;
    margin-left: 10px;
    &:hover,
    &:focus {
      background: darken(#232323, 10%);
    }
    &:active {
      background: darken(#232323, 15%);
    }
  }
}
