mixin socials(data)
    div(class="socials" + (data.mod ? " socials--" + data.mod : ""))
      if data.title
        .socials__title= data.title
      ul.socials__list
        each item in data.socials
          li.socials__item
            a(class="socials__link socials__link--" + item.mod href="#")
              i(class="fa " + item.faClass)
