.socials {
  &__list {
    @include nl();
    margin: 0 -10px;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 7px;
  }
  &__link {
    display: inline-block;
    color: #ccc;
    transition: .3s;
    font-size: 17px;

    &:hover {
      color: $red;
    }

  }

  &--share {
    .socials__list {
      display: inline-block;
    }
    .socials__link {
      color: $red;
      transition: .3s;

      &:hover {
        color: #333333;
      }
    }
  }

  &__title {
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    text-transform: uppercase;
    color: $dark-gray;
    margin-right: 25px;
  }
}
