mixin bank-account-details(data)
    .bank-account-details
      .bank-account-details__title= data.title
      i.bank-account-details__separator
      .bank-account-details__bank-name= data.bankName
      .bank-account-details__table
        each val, key in data.accountDetails
          .bank-account-details__row
            .bank-account-details__key= key
            .bank-account-details__val= val
