.bank-account-details {
  font-size: 15px;
  display: inline-block;
  &__title {
    font-size: 15px;
    font-weight: 700;
    color: $black;
    margin-bottom: 10px;
  }
  &__separator {
    display: block;
    background: $red;
    width: 8px;
    height: 1px;
    margin-bottom: 15px;
  }
  &__bank-name {
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
  }
  &__table {
    display: table;
  }
  &__row {
    display: table-row;
  }
  &__key {
    display: table-cell;
    padding-right: 10px;
  }
  &__val {
    display: table-cell;
    font-weight: 600;
  }
}
