.section-title {
  @include cf();
  padding: 20px;

  &__heading {
    font-size: 33px;
    text-transform: uppercase;
    font-family: $second-font;
    font-weight: 400;
    color: $red;
    margin: 0;
    float: left;
    &:before {
      display: inline;
      content:'_';
      color: $black;
    }
  }
  &--h2 {
    border-bottom: 1px solid $black;
  }

  &--h3 {
    padding: 10px 0; 
    .section-title__heading {
      font-size: 20px;
    }
  }

  &__link {
    float: right;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    font-family: $second-font;
    text-transform: uppercase;
    color: $black;
    padding: 10px 0;
    padding-left: 30px;
    text-decoration: none;

    &:hover,
    &:focus {
      outline: none;
      text-decoration: underline;
    }

    &:before {
      @include bg($arrow-left-circle);
      position: absolute;
      left: 0;
      content:'';
    }
  }
}
