mixin section-title(data)
  case data.size
    when 'h1'
      div(class='section-title' + (data.size == 'h1' ? ' section-title--h1' : ''))
        h1.section-title__heading= data.title
        if data.link
          a(href="#").section-title__link= data.link
    when 'h2'
      div(class='section-title' + (data.size == 'h2' ? ' section-title--h2' : ''))
        h2.section-title__heading= data.title
        if data.link
          a(href="#").section-title__link= data.link
    when 'h3'
      div(class='section-title' + (data.size == 'h3' ? ' section-title--h3' : ''))
        h3.section-title__heading= data.title
        if data.link
          a(href="#").section-title__link= data.link
