.payment-method {
  margin-top: -1px;
  padding: 25px 10px 20px;
  border-top: 1px solid $almost-black;

  &__title {
    margin-bottom: 10px;
  }
  &__text {
    padding-top: 10px;
    display: inline-block;
    vertical-align: bottom;
  }

  .jcf-select {
    background: #f1f1f1;
    max-width: 165px;
    text-align: left;
    display: inline-block;
  }

  .jcf-select-drop {
    border: none;
    left:0;

    ul {
      background: #f1f1f1;
    }
    li {
      span {
        text-align: left;
        padding: 7px 5px;
        padding-right: 40px;
        border-top: 1px solid $light-gray;
        transition: .2s;
        &:hover {
          background: darken(#f1f1f1, 10%);
        }
      }
    }
  }
  &__val {
    @extend .table-price__val;
    float: right;
    text-align: right;
  }
}
