mixin payment-method(data)
    .payment-method
      .payment-method__title= data.title
      if data.options
        select.payment-method__select(data-jcf={"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false})
          each item in data.options
            option.payment-method__option= item
      else
        span.payment-method__text= data.method
      span.payment-method__val
        | -
