.text-with-btn {
  padding: 60px 50px;

  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 60px;
  }

  &__btn {
    width: 100%;
    text-align: center;
  }
}
