.pre-footer {
  background: url('__static__assets/footer/footer-map.png') no-repeat center -200px;
  background-size: 1170px;
  border-bottom: 1px solid $white;

  > .container {
    padding: 15px 20px;
  }

  &__newsletter {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: $white;
    font-size: 20px;
    font-weight: 700;
    padding-left: 40px;
    text-transform: uppercase;
    
    &:before {
      @include bg($mail-red);
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
    }
  }
  
  &__form {
    float: right;
    display: inline-block;
    vertical-align: middle;
  }

  &__input {
    min-width: 345px;
    background: $dark-gray;
    color: $white;
    border: none;
    outline: none;
    border: 1px solid $gray;
    font-size: 15px;
    font-weight: 400;
    padding: 0 15px;
    box-sizing: border-box;
    height: 23px; 
    margin-right: 14px;
  }

  &__checkbox-text {
    display: inline-block;
    vertical-align: middle;
    color: #a9a9a9;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 400;
    margin-right: 50px;
  }
}

.jcf-checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 11px;
  height: 11px;
  border: 1px solid $gray;
  background: $white;

}

.jcf-checked {
  > span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 3px;
    border-bottom: 2px solid $red;
    border-left: 2px solid $red;
    transform: translate(-50%,-50%) rotate(-45deg);
  }
}

.jcf-label-active {
  .jcf-checkbox {
    box-shadow: 0 0 1px 1px $red;
  }
}