include ../button/button.pug
mixin pre-footer(data)
    .pre-footer
      .container
        .pre-footer__newsletter
          | iscriviti alla newsletter
        .pre-footer__form
          label.pre-footer__checkbox-label
            input(type="checkbox").pre-footer__checkbox
            span.pre-footer__checkbox-text
              | Acconsento al trattamento dei dati*
          label.pre-footer__input-label
            input(type="email" placeholder="Email").pre-footer__input
          +button(submit)