include ../table-price/table-price.pug
mixin promo-sale(data)
    .promo-sale
      .promo-sale__title
        span.promo-sale__text
          | Codice promo:
        span.promo-sale__code
          | PROMO 16
      +table-price(promoSale)
      a(href="#").promo-sale__link
        | Per rimuovere il tuo buono, clicca qui
