.promo-sale {
  margin-top: -1px;
  width: 100%;
  border-top: 1px solid #232323;
  border-bottom: 1px solid #232323;
  box-sizing: border-box;
  padding: 25px 10px 14px;

  &__text {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
  }

  &__code {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
  }

  &__link {
    font-size: 12px;
    color: $black;
    &:hover {
      text-decoration: none;
    }
  }
}
