.help {
  border-top: 1px solid $white;
  padding: 20px 10px;
  box-sizing: border-box;

  &__title {
    position: relative;
    text-transform: uppercase;
    padding-left: 23px;
    font-size: 20px;
    font-family: $second-font;
    margin-bottom: 20px;

    &:before {
      position: absolute;
      bottom: 2px;
      left: 0;
      content:'';
      @include bg($help-icon);
    }
  }

  &__list {
    @include nl();
    padding-left: 4px;
  }

  &__item {
    position: relative;
    padding-left: 13px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 4px;
      @include bg($check-red);
    }
  }
  &__link {
    color: $dark-gray;
    font-size: 13px;
    &:hover {
      text-decoration: none;
    }
  }
}
