mixin slide-description(data)
  div(class="slide-description" + (data.mod ? ' ' + data.mod : ""))
    .slide-description__title= data.title
    .slide-description__subtitle= data.subtitle
    .slide-description__separator= data.separator
    .slide-description__text= data.text
