.slide-description {
  position: absolute;
  background: rgba(0, 0, 0, .6);
  padding: 15px;
  padding-top: 30px;
  color: $white;
  font-size: 15px;
  max-width: 415px;
  
  &__title {
    color: $red;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  &__subtitle {
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
  }
  
  &__separator {
    color: $red;
    font-size: 16px;
    font-weight: 600;
  }
  
  &__text {
    color: $white;
    font-size: 15px;
    font-weight: 400;
  }

  &.center {
    top: 50%;
    bottom: auto;
    transform: translateX(-50%);

    &.middle {
      transform: translate(-50%, -50%);
    }
  }

  &.middle {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }

  &.left {
    left: 40px;
    right: auto;
  }

  &.right {
    right: 40px;
    left: auto;
  }

  &.top {
    top: 40px;
    bottom: auto;
  }

  &.bottom {
    bottom: 40px;
    top: auto;
  }
}
