mixin price(data)
    div(class='price' + (data.mod ? ' price--' + data.mod : '' ))
      div(class='price__val' + (data.newPrice ? ' price__val--old' : ''))
        span.price__currency= data.currency
        span.price__num= data.oldPrice
      if data.newPrice
        .price__val.price__val--new
          span.price__currency= data.currency
          span.price__num= data.newPrice
          if data.sale
            span.price__sale= data.sale
