.price {
  margin-bottom: 25px;
  &--row {
    .price__val--new {
      width: 100%;
    }
  }
  &__val {
    display: inline-block;
    position: relative;
    color: $black;
    font-size: 24px;
    font-weight: 400;
    font-family: $second-font;

    &--new {
      color: $red;
      font-size: 30px;
      font-weight: 600;
    }

    &--old {
      margin-right: 20px;
      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 0;
        border-top: 2px solid $black;
        border-color: inherit;
        top: 60%;
        left: 0;
      }
    }
  }

  &__num {
    margin-left: 5px;
  }

  &__sale {
    font-family: $main-font;
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
    color: $dark-gray;
  }
}
