include ../../button/button.pug
include ../../input/input.pug

mixin form-login(data)
    form.form.form--login
      .form__title
        | Accedi al tuo profilo
      .grid
        .col.col-8
          +input('text', 'Username', true)
        .col.col-8
          +input('password', 'Password', true)
        a(href="#").form__link
            | Ho dimenticato la password
      .btn-wrap.btn-wrap--user-data
        +button(submitBigRed, 'Accedi')
