.product-info {
  color: $dark-gray;
  &__title {
    font-size: 23px;
    color: $black;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__subtitle {
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
  }

  &__desc {
    font-weight: 400;
    margin-bottom: 25px;
  }

  &__desc-title {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__desc-text {
    font-size: 13px;
  }

  &__notes {
    margin-bottom: 25px;
  }

  &__notes-title {
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 5px;
  }

  &__note {
    position: relative;
    padding-left: 15px;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 5px;

    &:before {
      @include bg($check-red);
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
    }
  }
}
