include ../price/price.pug
mixin product-info(data)
  .product-info
    if data.title
      .product-info__title= data.title
    if data.subtitle
      .product-info__subtitle= data.subtitle
    +price(popupPrice)
        if data.sale
          span.product-info__sale= data.sale
    if data.description
      .product-info__desc
        if data.description.title
          .product-info__desc-title= data.description.title
        if data.description.text
          .pfoduct-info__desc-text= data.description.text
    if data.notes
      .product-info__notes
        if data.notes.title
          .product-info__notes-title= data.notes.title
        each note in data.notes.notes
          .product-info__note= note
