.info-faq {
  .tabs__list {
    min-width: 220px;
  }
}
.tabs {
  @include cf();
  &__list {
    @include nl();
    float: left;
    width: 290px;
    vertical-align: top;
    padding-right: 5px;
    border-right: 1px solid $dark-gray;
    box-sizing: border-box;
  }
  &__item {
    margin-bottom: 15px;
  }
  &__link {
    display: inline;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $second-font;
    color: $dark-gray;
    font-size: 18px;
    font-weight: 700;
    transition: .2s;
    border-bottom: 3px solid transparent;

    &:hover {
      border-bottom-color: rgba($red, .7);
    }

    &.active {
      border-color: $red;
    }
  }
  &__content {
    margin-left: 290px;
    padding-left: 35px;
  }
  &__content-item:not(.active) {
    display: none;
  }
}
.content-item {
  &__title {
    color: $dark-gray;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
  }
}
