include ../buying-guide/buying-guide.pug
include ../order-table/order-table.pug
include ../forms/form-user-data/form-user-data.pug
mixin tabs(data)
    .tabs
      ul.tabs__list
        each val,key in data.links
          li.tabs__item
            a(href="#" data-id=key class="tabs__link" + (key==0 ? " active" : ""))= val
      .tabs__content
        -var n=0
        while n < data.links.length
          div(class="tabs__content-item" + (n==0 ? " active" : "") data-id=n )
            if data.content == 'buying guide'
              .content-item__title= data.links[n]
              +buying-guide()
            if data.content == 'order list'
              .content-item__title= data.links[n]
              +order-table(orderTable)
            if data.content == 'user data'
              +form-user-data()
          -n++
