mixin copyright(data)
  .copyright
    span
      | copyright ©
    each item in data
      a(class='copyright__link' + (item == "Credits" ? ' copyright__link--credits' : '') href="#")= item
      span.
        -
