.copyright {
  font-weight: 300;
  font-size: 14px;
  color: $footer-text;
  width: 100%;
  text-align: center;
  margin-top: 25px;

  &__link {
    color: inherit;
    text-decoration: none;
    padding-right: 5px;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  span {
    padding-right: 5px;
    &:last-child {
      display: none;
    }
  }
}