.label-file {
  display: block;
}
.jcf-file {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 0;
  overflow: hidden;
  background: none;
  &:hover {
    .jcf-upload-button {
      background: darken($dark-gray, 10%);
    }
  }

  input {
    top: 0;
    left: 0;
  }
}
.jcf-fake-input {
  display: inline-block;
  @extend .input;
  color: #969696;
  vertical-align: top;
  min-height: 30px;
  font-size: 13px;
  width: calc(50% - 10px);
  margin-right: 20px;
  height: auto;
  padding: 7px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}
.jcf-upload-button {
  background: $dark-gray;
  width: calc(50% - 10px);
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
  font-size: 13px;
  color: $white;
  padding: 7px 10px;
  text-transform: uppercase;
  transition: .2s;
  cursor: pointer;

}
