include ../button/button.pug
include ../select/select.pug
mixin product(data)
  each item in data
    -var mod = (data.mod ? mod : '')
    div(class="product" + (item.mod ? " product--" + item.mod : ""))
      a(href="#").product__link
        .product__img-wrap
          img.product__img(src="__static__images/assets/product/" + item.src)
        if item.title
          .product__title= item.title
        if item.price
          .product__price= item.price
        if item.stickers
          .product__stickers
            each sticker in item.stickers
              div(class="product__sticker product__sticker--" + sticker)
      if item.hover
        .product__hidden
          .product__selects
            +select(size)
            +select(color)
          .product__btns-wrap
            +button(btnGray)
            if item.btnCount == 2
              +button(addCart)
