.products {
  font-size: 0;
  border-top: 1px solid $gray;
  margin-bottom: 30px;
}
.product {
  position: relative;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  font-size: initial;
  padding: 1px;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  background: $white;
  border: 1px solid transparent;
  border-bottom: none;

  &:not(.product--slide-small):not(.product--slide-big):hover {
    border-color: $light-gray;
    z-index: 1;

    .product__title {
      border-color: transparent;
    }

    .product__hidden {
      display: block;
    }
  }

  &__link {
    text-decoration: none;
    display: block;
  }

  &__img-wrap {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    min-width: 70%;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    width: 100%;
    text-align: center;
    border-top: 1px solid $light-gray;
    padding-top: 7px;
    color: $dark-gray;
    text-transform: uppercase;
    font-family: $main-font;
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__price {
    width: 100%;
    text-align: center;
    font-weight: $second-font;
    font-weight: 800;
    margin-bottom: 15px;
    color: $black;
  }

  &__stickers {
    position: absolute;
    top: 2px;
    left: 2px;
  }

  &__sticker {
    margin-bottom: 2px;
    &--sale {
      @include bg($product-icon-sale);
    }
    &--new {
      @include bg($product-icon-new);
    }
    &--top {
      @include bg($product-icon-top-brown);
    }
  }

  &__hidden {
    position: absolute;
    width: calc(100% + 2px);
    top: 100%;
    left: -1px;
    display: none;
    background: $white;
    padding: 10px;
    border: 1px solid $light-gray;
    border-top: none;
    box-sizing: border-box;
    z-index: 1;
  }

  &__btns-wrap {
    display: flex;
    flex-direction: row;
    margin-left: -5px;
    margin-right: -5px;

    button {
      flex: 1 1 auto;
      margin: 0 5px;
    }
  }

  &--disabled {
    .product__selects {
      display: none;
    }
    .button--add-cart {
      display: none;
    }
  }
  &--slide-big {
    width: 100%;
    margin-bottom: 10px;
    .product__img-wrap {
      padding-top: 70%;
    }
  }
}
