include ../product/product.pug
mixin product-slider(data, colorId, mod)
  - var attr = (colorId ? {'data-color':colorId} : {});
    div(class="product-slider" + (data.mod ? " product-slider--" + data.mod : "") + (mod ? ' '+mod : ''))&attributes(attr)
      +product(data.slides)
