.product-slider {
  &__wrap {
    position: relative;
  }
  &--big {
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid $dark-gray;
    &.isHidden {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      overflow: hidden;
    }
  }
  &__btn {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    background: none;
    border: none;
    text-indent: -9999px;
    z-index: 1;
    outline: none;
    opacity: .77;
    transition: opacity .2s;

    &--next {
      @include bg($arrow-right-red-small)
      left: auto;
      right: 10px;
    }

    &--prev {
      @include bg($arrow-left-red-small)
      left: 10px;
      right: auto;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  &--small {
    padding: 0 45px;
  }
  .slick-dots {
    position: static;
  }
}
