mixin contacts-footer(data)
    .contacts-footer
      .contacts-footer__row.contacts-footer__row--name= data.name
      .contacts-footer__row.contacts-footer__row--address= data.address
      .contacts-footer__row.contacts-footer__row--city= data.city
      .contacts-footer__links
        .contacts-footer__links-title= data.linksTitle
        each item in data.www
          a(href="mailto:" + item).contacts-footer__email= item
