.contacts-footer {
  color: $footer-text;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;

  &__row {
    &--name {
      text-transform: uppercase;
    }
    &--city {
      margin-bottom: 10px;
    }
  }
  
  &__links {
    margin-bottom: 10px;
  }

  &__links-title {
    font-style: italic;
    font-weight: 400;
  }

  &__email {
    display: block;
    color: $red;
    text-decoration: none;
    font-weight: 600;
    font-style: normal;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
