.sure {
  display: none;
  text-align: center;
  top: 0;
  left: 110%;
  position: absolute;
  min-width: 290px;
  &__content {
    position: relative;
    background: $white;
    padding: 10px 13px;
    box-sizing: border-box;
    border: 1px solid $red;
    z-index: 2;
    font-size: 15px;
  }

  &:before {
    content: '';
    width: 10px;
    height: 10px;
    background: $red;
    left: -9px;
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    z-index: 1;
  }

  &__title {
    margin-bottom: 10px;
  }
  &__btn-wrap {
    text-align: center;
    margin-bottom: 13px;
  }
}
