include ../button/button.pug
mixin sure(data)
    .sure
      .sure__content
        .sure__title
          | Sei sicuro di voler tornare al carrello
        .sure__btn-wrap
          +button(btnSure.red)
        .sure__btn-wrap
          +button(btnSure.gray)
