.home-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;

  &__slide {
    position: relative;
    text-decoration: none;
  }
  &__img-wrap {
    width: 100%;
    padding-top: 50%;
    display: block;
    position: relative;
    overflow: hidden;
    margin-top: -1px;
  }

  &__img {
    @include coverimg();
    max-width: 120%;
  }
  &__btn {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    background: none;
    border: none;
    text-indent: -9999px;
    z-index: 1;
    outline: none;
    transition: .2s;
    opacity: .77;

    &--next {
      @include bg($arrow-right-red)
      left: auto;
      right: 10px;
    }

    &--prev {
      @include bg($arrow-left-red)
      left: 10px;
      right: auto;
    }

    &:hover {
      opacity: 1;
    }
  }

  &--short {
    .home-carousel__img-wrap {
      padding-top: 38%;
    }

    .slick-dots {
      display: none !important;
    }
  }
}

.slick-dots {
  @include nl();
  position: absolute;
  bottom: 7px;
  width: 100%;
  text-align: center;
  z-index: 1 ;
  li {
    display: inline-block;
    padding: 0 7px;
  }
  button {
    display: block;
    text-indent: -9999px;
    height: 13px;
    width: 13px;
    border: none;
    border-radius: 50%;
    background: $gray;
    transition: .2s;
    outline: none;

    &:hover {
      box-shadow: 0 0 5px 0 $red;
    }
  }
  .slick-active {
    button {
      background: $red;
    }
  }

}
