include ../slide-description/slide-description.pug
mixin home-carousel(data, mod)
    div(class="home-carousel" + (mod ? " home-carousel--" + mod : ''))
      -
        n = 0
      while n++ < 4
        a(href="#").home-carousel__slide
          .home-carousel__img-wrap
            if n%2
              img(src="__static__images/assets/home-carousel/slide-1.jpg").home-carousel__img
            else
              img(src="__static__images/assets/home-carousel/slide-2.jpg").home-carousel__img
          +slide-description(slideDescription)
