.search {
  display: inline-block;
  position: relative;
  &__input {
    width: 0;
    height: 22px;
    background: transparent;
    padding-right: 20px;
    box-sizing: border-box;
    border: none;
    padding: 5px;
    font-size: 15px;
    transition: .3s ease-in-out;
    opacity: 0;

    &.focus,
    &:focus {
      width: 180px;
      background: #ffffff;
      outline: none;
      opacity: 1;
    }

    &::-webkit-input-placeholder {
      color: $gray;
    }
  }
  &__submit {
    background: none;
    @include bg($search);
    position: absolute;
    content: '';
    right: 5px;
    top: 5px;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -9999px;
    border: none;
    outline: none;
  }
}
