mixin selectInForm(title)
  label.label
    select.select-in-form(data-jcf={"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false})
      option(class="select__option")= title
      -var i=1
      while i < 4
        option(class='select__option' title="option " + i++)
          | option #{i}
