.invalid {
  .jcf-select-select-in-form {
    border-color: $red;
    color: $red;
  }
}
.jcf-select-select-in-form {
  padding: 7px 10px;
  padding-right: 20px;
  background: #f1f1f1;
  height: 30px;
  text-align: left;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;

  .jcf-select-text {
    display: inline-block;
    width: 100%;
  }

  .jcf-option-select__option {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .jcf-select-drop {
    left: 0;
    padding: 0;
    border-left: none;
    border-color: $light-gray;
    border-right: none;

    ul {
      background: #f1f1f1;
      font-size: 0;
      max-height: 300px;
      overflow-y: auto;
    }
    li {
      span {
        font-size: 13px;
        display: inline-block;
        width: 100%;
        padding: 4px 10px;
        padding-right: 20px;
        text-align: left;
        &:hover {
          background: $light-gray;
        }
      }
    }
  }
}
